{% extends 'partials/base.html.twig' %}

{% block content %}

This Checklist is provided courtesy of Chuck, please reference the full guide at <a href="https://www.mudspike.com/chucks-guides/" target="_blank">Chuck's Guides</a> {{ content }}

<div class="uk-accordion" data-uk-accordion>

    {% for checklist in page.header.checklist %}
        <table class="uk-accordion-table" style="width:100%">
            <tr>
                <td align="left" style="width:100%">
                    <h3 class="uk-accordion-title" >{{ checklist.step }}</h3>
                </td>
                <td align="right">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-sm btn-outline-success">
                            <input type="checkbox" name="options" id="option1" autocomplete="off"> DONE
                        </label>
                        
                    </div>
                </td>
            </tr>
        </table>
                 

    {% endfor %}

</div>

<br />
{% include 'partials/breadcrumbs.html.twig' %}

<a href="https://github.com/KalAbaddon/listd.k13.app/issues/new?assignees=&labels=checklist+error&template=checklist_error.md&title=">Please enter typos and erros in this checklist here</a>

<br />

<a href="https://github.com/KalAbaddon/listd.k13.app/issues/new?assignees=&labels=checklist+feature+request&template=checklist_feature_request.md&title=">Please enter recommendations and ideas for this checklist here</a>

{% endblock %}